* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { background-color: #FAF9F9; color: #4c5161; font-family: Arial, Tahoma }

.container { width: 80%; margin: auto; }

.clearfix { clear: both; }

header .slider {
    background-color: #FAF9F9;
    height: 600px;
    background-image: url('../img/slider5.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

header .slider .intro { padding-top: 170px; text-align: center; color: #FFF;}

header .slider .intro h2 {
    margin: 0 auto;
    font-size: 50px;
    width: 700px;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    padding: 5px 0;
    padding-bottom: 15px;
    color: #FFF;
    margin-bottom: 25px;
}

header .slider .intro .form { width: max-content; margin: 0 auto; }

header .slider .intro .form input { border: none; width: 250px }

header .slider .intro .form button { background-color: #6C9D9B; color: #FFF; border: 1px solid #555B6E; }

header .slider .intro .form button:hover { opacity: 0.9; }

header nav { 
    background-color: #6C9D9B; 
    color: #FFF; 
    overflow: hidden; 
    padding: 10px 0; 
    margin-bottom: 20px; 
    text-shadow: 1px 1px 2px #707688;
}

header nav .container {
    width: 70%
}

header nav h2 { float: left; }

header nav i { color: #555B6E; }

header nav ul { float: right; }

header nav ul li { float: left; padding: 10px; }

header nav ul li a { color: #FFF; font-size: 18px; }

header nav ul li a:hover { color: #555B6E; text-decoration: none; border-bottom: 1px solid #555B6E; }

header nav ul li.active a { color: #555B6E; }

.blog { 
    border: 1px solid rgb(218, 218, 218); 
    border-radius: 20px; 
    padding: 15px;
    margin-bottom: 20px; 
    text-align: center
}

h3 {
    position: relative;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

h3::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 4px;
    border-radius: 7px;
    bottom: -9px;
    background-color: #dac9bf;
}

.card { 
    width: 30%; 
    background-color: #FFF; 
    border: 1px solid rgb(218, 218, 218);
    display: inline-block; 
    margin: 10px;
    border: none;
    border-radius: 10px;
    text-align: left;
    box-shadow:   0 4px 8px 0 rgba(82, 82, 82, 0.2), 0 6px 20px 0 rgba(85, 85, 85, 0.19);
}

.card:hover {
    transform: translateY(-7px);
    transition: transform 0.5s ease-in-out;
}

.card .card-body { height: 150px; padding-top: 7px; }

.card .card-title { font-size: 18px; font-weight: 600; margin-bottom: 5px; }

.card .card-text { color: #878b99; margin-top: 0; }

.slider-controls {
    width: 300px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.slider-controls .prev,
.slider-controls .next {
    background-color: #6C9D9B;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 10%;
}

.slider-controls .prev {
    float: left;
}

.slider-controls .next {
    float: right;
}

.slider-controls .indicators {
    width: 60%; 
    float: left;
}

.slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.slider-controls .indicators ul li {
    display: inline-block;
    background-color: #e7e6e6;
    font-weight: bold;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}

.slider-controls .indicators ul li.active {
    background-color: #6C9D9B;
}


/* e6d5ca */
.card button { 
    width: 100px;
    border-radius: 10px;
    border: 1.5px solid #dac9bf;
    color: #dac9bf;
    font-weight: 600;
    background: none;
    font-size: 14px;
    padding: 3px 0;
    cursor: pointer;
}

.card button a {
    color: #dac9bf;
    text-decoration: none;
}

/* footer */
footer  {
    background-color: #6C9D9B;
    color: #555B6E;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
}

footer ul { 
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: 7px;
}

footer ul li { display: inline-block; }

footer ul li i:hover { color: #FFF; cursor: pointer; }